<!DOCTYPE html>

<html>
  <head>
    <title>Create Puppy</title>
  <head>

  <body>
    <h1>Welcome to Puppy Pages</h1>
    <form class="" action="/" method="post">
      <label for="">Name: <input type="text" name="name"></label>
      <label for="">Breed: <input type="text" name="breed"></label>
      <label for="">Age: <input type="text" name="age"></label>
      <input type="submit" id="submit">
    </form>
  </body>
</html>
