<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="/puppy" method="POST">
		<p>Puppy Name: </p><p><%= @name %></p>
		<p>Puppy Breed: </p><p><%= @breed %></p>
		<p>Puppy Age: </p><p><%= @age %></p>
	</form>
</body>
</html>