
<!DOCTYPE html>
<html>
    <head>
      <title>Puppies!!</title>
      <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
    </head>
  <body>
        <form method="POST" action="/puppy">
            <p>Puppy Name: <p> <p> <%= @name %> </p>
            <p>Puppy Breed: <p> <p> <%= @breed %> </p>
            <p>Puppy Age: <p> <p> <%= @age %> </p>
        </form>
    </body>
</html>
