<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>This puppy is available for adoption:</h1>
    <li>Puppy Name: <%= @puppy.name %></li>
    <li>Puppy Breed: <%= @puppy.breed %></li>
    <li>Puppy Age: <%= @puppy.age %></li>

  </body>
</html>
