
<!DOCTYPE html>
<html>
    <head>
      <title>Puppies!!</title>
      <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
    </head>
  <body>
        <form method="POST" action="/">
            <p>Welcome!<p>
            <a href="/new">Click Here To List A Puppy</a>
        </form>

    </body>
</html>
